<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-FIT - Reset Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 flex justify-center items-center min-h-screen">
    <div class="bg-gray-800 text-white p-8 rounded-2xl shadow-lg w-full max-w-md text-center">
        <a href="{% url 'home' %}">
            <h1 class="text-4xl  mb-4">V-FIT</h1>
        </a>
        <p class="text-yellow-300 text-sm mb-6">ยืนยัน OTP และตั้งรหัสผ่านใหม่</p>

        <form method="post" action="{% url 'reset_password_confirm' %}">
            {% csrf_token %}

            <label for="otp" class="block text-yellow-300 mb-2 text-left">รหัส OTP:</label>
            <input type="text" id="otp" name="otp"
                   class="w-full px-4 py-3 bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:ring-2 focus:ring-yellow-300"
                   placeholder="กรอกรหัส OTP" required>

            <label for="password" class="block text-yellow-300 mt-4 mb-2 text-left">รหัสผ่านใหม่:</label>
            <input type="password" id="password" name="password"
                   class="w-full px-4 py-3 bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:ring-2 focus:ring-yellow-300"
                   placeholder="รหัสผ่านใหม่" required>

            <label for="password_confirm" class="block text-yellow-300 mt-4 mb-2 text-left">ยืนยันรหัสผ่าน:</label>
            <input type="password" id="password_confirm" name="password_confirm"
                   class="w-full px-4 py-3 bg-gray-700 border border-gray-600 rounded-lg mb-6 text-white focus:outline-none focus:ring-2 focus:ring-yellow-300"
                   placeholder="ยืนยันรหัสผ่าน" required>

            <button type="submit"
                    class="w-full mt-5 bg-yellow-300 text-gray-900 font-bold py-3 rounded-lg hover:bg-yellow-500 transition duration-200">
                ยืนยัน OTP และเปลี่ยนรหัสผ่าน
            </button>
        </form>
    </div>
</body>
</html>
